<div class="headerContainer">
  <mat-toolbar>
    <button mat-button (click)="navigateToHome()">
      <label class="profileName">Home</label>
    </button>
    <button mat-button [matMenuTriggerFor]="menu" class="alignmentMenu">
      <img *ngIf="profile" [src]="profile.image" alt="Profile name" class="avatar"
        onerror="this.src='../../../assets/avatar-default-icon.png'" />
      <img *ngIf="!profile" src="../../../assets/avatar-default-icon.png" class="avatar" alt="Profile" />
      <label class="profileName">{{profile.userName}}</label>
    </button>

    

    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="editProfile()">
        <i class="fa fa-user-circle-o fa-lg"> Profile</i>
      </button>
      <button mat-menu-item (click)="logoutProfile()" routerLinkActive="active">
        <i class="fa fa-sign-out fa-lg"> Logout</i>
      </button>
      
    </mat-menu>
    
  </mat-toolbar>
  
</div>