


<form [formGroup]="updateStoryForm" (ngSubmit)="onSubmit()">

  <mat-card-header>
    <mat-card-title><h2>Create A User Story</h2></mat-card-title>
  </mat-card-header>
  <mat-dialog-content>

    <mat-card-content>
      <mat-form-field class="half-width">
        <mat-label>Title</mat-label>
        <input matInput placeholder="Title" formControlName="title">
        <mat-error *ngIf="!updateStoryForm.controls['title'].valid && updateStoryForm.controls['title'].touched">
        </mat-error>
      </mat-form-field>

      <mat-form-field class="half-width">
        <mat-select placeholder="Priority" formControlName="priority">
          <mat-option *ngFor="let p of priorities" [value]="p.value">{{p.viewValue}}</mat-option>
        </mat-select>
        <mat-error
          *ngIf="!updateStoryForm.controls['priority'].valid && updateStoryForm.controls['priority'].touched">
        </mat-error>
      </mat-form-field>

      <mat-form-field class="half-width">
        <input matInput placeholder="Status" formControlName="status">
        <mat-error *ngIf="!updateStoryForm.controls['status'].valid && updateStoryForm.controls['status'].touched">
        </mat-error>
      </mat-form-field>

      <mat-form-field class="half-width">
        <input matInput placeholder="Story Points" formControlName="storyPoints" pattern="[0-9]*">
        <mat-error
          *ngIf="!updateStoryForm.controls['storyPoints'].valid && updateStoryForm.controls['storyPoints'].touched">
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <mat-label>Description</mat-label>
        <textarea matInput placeholder="Description" rows="12" formControlName="description"></textarea>
        <mat-error
          *ngIf="!updateStoryForm.controls['description'].valid && updateStoryForm.controls['description'].touched">
        </mat-error>
      </mat-form-field><br>

      <mat-dialog-actions class="form-group">
        <button mat-button color="primary" type="submit" [disabled]="updateStoryForm.invalid"
                class="mat-background-primary text-floral-white">Submit
        </button>
        <button mat-button color="accent" type="submit"
                class="mat-background-primary text-floral-white">Cancel
        </button>
        <div class="container">
          <!-- No data message -->
          <button mat-button (click)="createTask()" color="primary">Create</button>
          <p *ngIf="editStory" class="no-data text-center">There is no task added yet!</p>

          <table class="todo-table" *ngIf="editStory">
            <thead class="table-success">
            <tr>
              <th scope="col">Title</th>
              <th scope="col">Description</th>
              <th scope="col">Status</th>
              <th scope="col">Story Points</th>
              <th scope="col">Assignee</th>
              <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let task of editStory.tasks; let i = index">
              <td>{{task.title}}</td>
              <td>{{task.description}}</td>
              <td>{{task.status}}</td>
              <td>{{task.assignee.userName}}</td>
              <td>{{task.priority}}</td>
              <td class="text-center edit-block">
          <span [routerLink]="">
            <button mat-button color="primary" type="button">Edit</button>
          <!--</span>
                <span (click)="removeTodo(todo, i)">-->
            <button mat-button color="warn" type="button" >Delete</button>
          </span>
              </td>
            </tr>
            </tbody>
          </table>
        </div>

      </mat-dialog-actions>
    </mat-card-content>
  </mat-dialog-content>


</form>



