.titleContainer {
  align-self: center;
}

.projectTitle {
  margin-top: 0;
  padding-top: 10px;
  color: white;
  font-family: serif;
  font-weight: 500;
  margin-bottom: 10px;
}

.formcontainer {
  align-self: center;
}

.registerContainer {
  background-image: linear-gradient(to right, #da4453, #89216b);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.formbody {
  width: 390px;
  min-height: 200px;
  background-color: white;
  box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 25px;
}

.alreadyMember {
  font-size: smaller;
  font-style: italic;
  text-decoration: underline;
  margin-bottom: 15px;
  margin-left: 50px;
}

.scrummaster {
  margin-bottom: 15px;
}
.alreadyMember:hover {
  cursor: pointer;
  text-align: center;
  
}
.header {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
}

mat-form-field {
  width: 100%;
}

form {
  width: 100%;
}
div > span {
  font-size: 0.75rem;
  color: firebrick;
}

.form-btn {
  font-size: 12px;
  cursor: pointer;
  margin: 2px;
  width: 160px;
  padding: 2px;
  margin-left: 85px;
}

.errorMessage{
  //text-align: center;
  color: red;
}


@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
@import url("//stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css");

.alert{
  padding: none;
}