  <mat-toolbar>
    <div id="profileImage" [ngStyle]="{'background': getRandomColor()}">
      {{getProjectTitleAvatar()}}
    </div>
    <span class=" projectTitle">{{project.title}}</span>
  </mat-toolbar>
  <div class="aboutContainer" fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="50px">
    <mat-card fxFlex="0 1 calc(60% - 10px)" class="overview-card">
      <mat-card-content class="content-title">
          About the project
      </mat-card-content>
      <mat-card-content>
        {{project.description}}
      </mat-card-content>
      <mat-card-content class="content-title">
          Project Status 
          <mat-chip class="statusChip">
            {{project.status}}
          </mat-chip>
      </mat-card-content>
      <mat-card-actions>
          <button class="mat-raised-button mat-primary" (click)="openProjectDialog(project)">Edit</button>
      </mat-card-actions>
    </mat-card>
    <mat-card fxFlex="0 1 calc(30% - 20px)" class="right-card">
      <mat-card-content>
        <div class="content-title">
          Owner
        </div>
        <mat-chip class="ownerChip" [removable]="false">
          <img class="avatar" [src]="project.owner.image!= null ? project.owner.Image : emptyImgUrl"
              onerror="this.src='../../../assets/blank-profile-picture.png'">
                {{ project.owner }}
          </mat-chip>
        <div class="content-title">
          Team Members
        </div>
        <mat-chip-list class="mat-chip-list-stacked" aria-label="Color selection">
          <mat-chip class="memberChip" *ngFor="let user of project.members" [removable]="false">
            <img class="avatar" [src]="user.image!= null ? user.Image : emptyImgUrl"
                onerror="this.src='../../../assets/blank-profile-picture.png'">
                  {{ user }}
                </mat-chip>
        </mat-chip-list>
      </mat-card-content>
    </mat-card>
</div>
