<div  class="container">
<h2 mat-dialog-title>{{dialogTitle}}</h2>

<mat-dialog-content [formGroup]="projectForm" >
  
  <div>
    <mat-form-field>
      <span>Title<i class="mandatoryField">*</i></span>
      
      <input class="title" type="text" formControlName="title" matInput>
    </mat-form-field>
    <span class="mandatoryField"*ngIf="isValid('title')">Title cannot be blank</span>
  </div>
  <div>
    <mat-form-field >
      <span>Description<i class="mandatoryField">*</i></span>
      <textarea cdkTextareaAutosize
      cdkAutosizeMinRows="2"
      cdkAutosizeMaxRows="10" formControlName="description" matInput></textarea>
    </mat-form-field>
    <span class="mandatoryField" *ngIf="isValid('description')">Description cannot be blank</span>
  </div>
  <div>
    <mat-form-field>
        <mat-label>Select Users</mat-label>
        <mat-select formControlName="members" multiple>
          <div class="search">
            <span class="fa fa-search"></span>
            <input class="searchUser" matInput type="text" placeholder="Search by Name" [(ngModel)]="searchTerm" [ngModelOptions]="{standalone: true}" />
          </div>
          <!-- <div>
            <input class="searchUser" matInput type="text" placeholder="Search by Name" [(ngModel)]="searchTerm" [ngModelOptions]="{standalone: true}" />
          </div> -->
          <mat-option *ngFor="let user of allUsers | userFilter:searchTerm" [value]="user.userName">
            <img class="avatar"[src]="user.image!= null ? user.Image : emptyImgUrl">{{user.userName}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button"(click)="close()">Close</button>
    <button class="mat-raised-button mat-primary"(click)="save()">Save</button>
</mat-dialog-actions>
</div>