.mandatoryField{
    color: red;
}
h2{
    text-align: center;
}

.container{
    width: auto;
    height: auto;
}
mat-form-field{
    width: 500px;
}

.searchUser{
    width: 200px;
    border: 2px;
    border-color: black;
    margin: 4px;

}

.avatar {
    vertical-align: middle;
    width: 35px;
    height: 35px;
    margin-right: 10px;
  }

  button{
      margin: 4px;
  }