.img {
  width: 100%;
  margin-bottom: 18%;
}
.card-picture {
  // width: 23%;
  margin-bottom: 2%;
}
.container {
  min-height: 100%;
  width: 100%;
}
.search-form {
  width: 90%;
}

.searchIcn {
  color: #da4453;
}

.projectText {
  color: white;
}

.sideNavItem {
  background-color: black;
}

.mat-list-option:hover,
.mat-list-option:focus,
.mat-nav-list .mat-list-item:hover,
.mat-nav-list .mat-list-item:focus,
.mat-action-list .mat-list-item:hover,
.mat-action-list .mat-list-item:focus {
  background: black !important;
}

.sideNavContainer {
  width: 200px !important;
}

.navContainer {
  top: 80px !important;
}

.projectButton {
  float: right;
  margin: 5px;
  margin-right: 50px;
  margin-left: 15px;
}

mat-icon {
  vertical-align: middle;
}

.searchFilter {
  float: right;
  vertical-align: middle;
  margin-top: 5px;
}
.searchProject {
  vertical-align: middle;
  margin-top: 5px;
  float: right;
  margin: 5px;
  font-size: 20px;
  width: 150px;
}
.cardContainer {
  display: inline-block;
}

button {
  float: center;
}

mat-card {
  text-align: center;
  width: 275px;
  border: 10px;
  margin-left: 100px;
  margin-bottom: 50px;
  float: left;
}

@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
body {
  margin: 30px;
}
.search {
  float: right;
  position: relative;
  color: #aaa;
  font-size: 16px;
  width: 180px;
}

.card:hover {
  cursor: pointer;
}

.search input {
  margin-top: 5px;
  height: 34px;
  width: 100%;
  background: #fcfcfc;
  border: 1px solid #aaa;
  border-radius: 5px;
  box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
}

.search input {
  text-indent: 32px;
}
.search .fa-search {
  vertical-align: middle;
  position: absolute;
  margin-top: 5px;
  top: 10px;
  left: 10px;
}
.card-container-left {
  display: inline;
  margin-left: -10px;
}
mat-card {
  min-width: 400px;
  padding: 20px;
  width: auto;
  height: 180px;
}
#profileImage {
  display: inline-block;
  width: 60px;
  height: 50px;
  border-radius: 10%;
  font-size: 35px;
  color: #fff;
  text-align: center;
  line-height: 50px;
  margin: 20px 0;
}

.projectTitle {
  margin-left: 20px;
}

mat-card-content {
  min-height: 50px;
}

.topButtons {
  padding: 20px;
}
.deleteIcon{
  float: right;
}