.img {
  width: 100%;
  margin-bottom: 18%;
}
.card-picture {
  // width: 23%;
  margin-bottom: 2%;
}
.container {
  min-height: 100%;
  width: 100%;
}
.search-form {
  width: 90%;
}

.searchIcn {
  color: #da4453;
}

.projectText {
  color: black;
}

mat-nav-list{
  margin: 4px;
}

.mat-list-option:hover,
.mat-list-option:focus,
.mat-nav-list .mat-list-item:hover,
.mat-nav-list .mat-list-item:focus,
.mat-action-list .mat-list-item:hover,
.mat-action-list .mat-list-item:focus {
  background: lightgray !important;
}

.sideNavContainer {
  width: 200px !important;
}

.navContainer {
  top: 80px !important;
}

.projectButton {
  float: right;
  margin: 5px;
  margin-right: 50px;
  margin-left: 15px;
}

.deleteIcon {
  color: red;
}
.editIcon{
  color:darkblue; 
}
mat-icon {
  vertical-align: middle;
}

.searchFilter {
  float: right;
  vertical-align: middle;
  margin-top: 5px;
}
.searchProject {
  vertical-align: middle;
  margin-top: 5px;
  float: right;
  margin: 5px;
  font-size: 20px;
  width: 150px;
}
.cardContainer {
  display: inline;
}

button {
  float: center;
}

.bottomCards{
  width: 1024px;
  margin-left: 50px;
  margin-bottom: 4px;
}

mat-list-item, mat-list-base, .sideNavItem{
  padding-top: none !important; 
}

.card, mat-card{
  display: inline-block;
}
.topCard {
  text-align: center;
  width: 275px;
  border: 10px;
  margin-left: 50px;
    padding: 20px;
    height: 140px;
    text-align: left;
  margin-bottom: 50px;
}
.topCardContainer{
  display: inline;
}
@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
body {
  margin: 30px;
}
.search {
  float: right;
  position: relative;
  color: #aaa;
  font-size: 16px;
  width: 180px;
}

.hoverClass:hover {
  cursor: pointer;
  outline:none !important;
}

.search input {
  margin-top: 5px;
  height: 34px;
  width: 100%;
  background: #fcfcfc;
  border: 1px solid #aaa;
  border-radius: 5px;
  box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
}

.search input {
  text-indent: 32px;
}
.search .fa-search {
  vertical-align: middle;
  position: absolute;
  margin-top: 5px;
  top: 10px;
  left: 10px;
}

#profileImage {
  display: inline-block;
  width: 60px;
  height: 50px;
  border-radius: 10%;
  font-size: 30px;
  color: #fff;
  text-align: center;
  line-height: 50px;
  margin: 4px;
}
#projectImage{
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 10%;
    font-size: 30px;
    background-color: rgb(37, 37, 172);;
    color: white;
    text-align: center;
    line-height: 50px;
    margin: 4px;
}

#bottomprofileImage {
  width: 60px;
  height: 50px;
  border-radius: 10%;
  font-size: 30px;
  color: #fff;
  text-align: center;
  line-height: 50px;
  margin: 4px;
}

mat-card-title{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 300px; 
}
.topProjectDescription {
  text-overflow: ellipsis;
  overflow: hidden;
  height: 50px;
  width: 275px;
}

 .inlineDisplay{
  display: inline;
}

.bottomProjectTitle{
  font-size: 24px;
  font-weight: 100;
}
.flex-container {
  display: flex;
  height: 30px;
  width: 800px;
}

.titleDescriptionContainer{
  margin-left: 10px;
}
.topButtons {
  padding: 20px;
}
mat-card-footer {
  margin-right: 10px;
  float: right;
}

mat-icon:hover {
  cursor: pointer;
}
.owner {
  margin-right: 30px;
}

.bottomProjectTitle{
  font-size: 24px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 600px;
}

.bottomDescriptionContainer{
  font-size: 12px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 600px;
}

.bottomDeleteIcon{
  text-align: right;
  float: right;

}

.bottomOwner{
  text-align: right;
  float: right;

}
.topTitlecontainer{
  min-height: 110px;
}

.topDescriptionContainer{
  // height: 75px;
  // font-size: 12px;
  // text-overflow: ellipsis;
  // overflow: hidden;
  // width: 200px;

  overflow: hidden;
   text-overflow: ellipsis;
   width: 200px;
   display: -webkit-box;
   -webkit-line-clamp: 3; /* number of lines to show */
   -webkit-box-orient: vertical;
}
.memberChip {
  background: #3f51b5;
  color: white;
  margin-right: 20px;
}