
   <div class="dropDown">
    <label>Select type of Analytics </label>

    <select [(ngModel)]="optionValue">
     <option value="userstories" selected>User Stories</option>
     <option value="tasks" >Tasks</option>
    </select>           
</div>
   
<ng-container *ngIf="optionValue == 'userstories'">
  <div class="chart1"><highcharts-chart class="userStorychart1"
    [Highcharts] = "highcharts" 
    [options] = "chartOptions">
 </highcharts-chart>
</div>

  <div class="chart2"><highcharts-chart class="userStorychart2"
    [Highcharts] = "burnDownHighcharts" 
    [options] = "burnDownChartOptions">
 </highcharts-chart></div>
</ng-container>


<ng-container *ngIf="optionValue == 'tasks'">
   
   <div class="chart1"><highcharts-chart class="taskChart1"
    [Highcharts] = "taskPieChart" 
    [options] = "taskPieChartOptions">
 </highcharts-chart>
</div>

  <div class="chart2"><highcharts-chart class="taskChart2"
    [Highcharts] = "taskBarGraph" 
    [options] = "taskBarGraphOptions">
 </highcharts-chart></div>

</ng-container>