.userStorychart1,.userStorychart2,.taskChart1,.taskChart2{
    width: 100%; 
    height: 400px;
    display: block;
}

.dropDown{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
}