.dropDown{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    background-color: white;
}


mat-select{
    width: 15%;
}

.chartContainerRight{
    width: 50%; 
    float:right;
}

.chartContainerLeft{
    width: 50%; 
    float:left;
}